*{
  margin: 0px;
  padding: 0px;
}

#topbar {
 background-color: #000;
 text-align: center;
 padding-top: 10px;
 padding-bottom: 10px;
}

 #topbar h1 {
   width: 1250px;
   text-align: center;
   font-size: 45px;
   color: #FFF;
 }

 
 #sidebar {
   padding: 20px 0px 0px 5px;
   position: fixed;
   width: 200px;
   height: 100%;
   background: #000;
   left: -200px;
   transition: all 370ms linear;
 }

 #sidebar.active {
   left: 0px;
 }

 #sidebar ul li {
   color: #FFF;
   padding: 15px 10px;
   list-style-type: none;
 }

 #sidebar ul li:hover{
   padding-left: 25px;
   transition: all 10ms linear;
   color: #0071bc;
 }

 #sidebar .three-lines {
   position: absolute;
   left: 230px;
   top: 20px
  }

 #sidebar .three-lines span {
   display: block;
   width: 30px;
   height: 5px;
   background: #FFF;
   margin: 5px 0px;
 }

 .img-blm {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
 }

 .hover-text {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

 .BLMcollection {
  width: 100%;
  height:50px;
  text-align: center;
}

.BLMcollection: hover .img-blm {
  opacity: 0.3;
}

.BLMcollection: hover .hover-text {
  opacity: 1;
}



#footerbar footer{
  position: relative;
  min-height: 100px;
  background-color: #000;
  padding-bottom: 2.5px;
  text-align: center;
  padding-top: 20px;
  position: absolute;
  bottom: -250px;
  width: 100%;
  overflow: visible;
}

#footerbar ul li {
  color: #FFF;
  padding: 15px;
  text-align: center;
  display: inline;
}

p {
  color: #000;
  font-size: 50px;
}
