*{
  margin: 0px;
  padding: 0px;
}

#topbar {
 background-color: #000;
 text-align: center;
 padding-top: 10px;
 padding-bottom: 10px;
}

 #topbar h1 {
   width: 1250px;
   text-align: center;
   font-size: 45px;
   color: #FFF;
 }


 #sidebar {
   padding: 20px 0px 0px 5px;
   position: fixed;
   width: 200px;
   height: 100%;
   background: #000;
   left: -200px;
   transition: all 370ms linear;
 }

 #sidebar.active {
   left: 0px;
 }

 #sidebar ul li {
   color: #FFF;
   padding: 15px 10px;
   list-style-type: none;
 }

 #sidebar ul li:hover{
   padding-left: 25px;
   transition: all 10ms linear;
   color: #0071bc;
 }

 #sidebar .three-lines {
   position: absolute;
   left: 230px;
   top: 20px
  }

 #sidebar .three-lines span {
   display: block;
   width: 30px;
   height: 5px;
   background: #FFF;
   margin: 5px 0px;
 }


#footerbar footer{
  position: relative;
  min-height: 100px;
  background-color: #000;
  padding-bottom: 2.5px;
  text-align: center;
  padding-top: 20px;
  position: absolute;
  bottom: -770px;
  width: 100%;
  overflow: visible;
}

#footerbar ul li {
  color: #FFF;
  padding: 15px;
  text-align: center;
  display: inline;
}

h2 {
  font-size: 30px;
  text-align: center;
  padding: 5px;
}

.odd {
  margin: 20px;
  height: 300px;
  width: 425px;
  background-color: #555;
}

.even {
  margin: 20px;
  height: 300px;
  width: 340px;
}

.even1 {
  margin: 20px;
  height: 300px;
  width: 380px;


}

#uno {
  position: absolute;
  top: 260px;
  left: 0px;
}

#tres {
  position: absolute;
  top: 260px;
  right: 0px;
}

#cinco {
  position: absolute;
  top: 575px;
  left: 400px;
}

#siete{
  position: absolute;
  top: 890px;
  left: 0px;
}

#nueve{
  position: absolute;
  top: 890px;
  right: 0px;
}

#dos {
  position: absolute;
  top: 260px;
  left: 440px;
  background-color: #555;
}

#cuatro {
  position: absolute;
  top: 575px;
  left: 0px;
  background-color: #555;
}
#seis {
  position: absolute;
  top: 575px;
  right: 0px;
  background-color: #555;
}

#ocho{
  position: absolute;
  top: 890px;
  left: 440px;
  background-color: #555;
}

#info {
  position: absolute;
  top: 115px; 
  width: 97%;
  height: 150px;
  background-color: #333;
  text-align: center;
  left: 20px;

}
